<div class="list-items">
  <div class="item-image">
    <img src="{{cartListForSale.img}}" alt="">
  </div>
  <div class="item-name">
    <p>{{ cartListForSale.description }}</p>
  </div>
  <div class="item-price">
    <p>{{ cartListForSale.saleprice | number: '1.0-0'}} đ</p>
  </div>
  <div class="item-quantity">
    <p>{{cartListForSale.quantity}}</p>
  </div>
  <div class="item-price">
    <p>{{this.productService.calculateThanhTien(cartListForSale.id ) | number: '1.0-0'}}đ</p>
  </div>
  <mat-icon class="icon">delete</mat-icon>
</div>
