<div class="frame" (click)="navigateToDetail(frameItemList.id)">
  <div class="saleInformation">
    <div class="saleInformationTitle">
      @if(frameItemList.text1.length == 0){
        <div class="saleInformationTitleLeft"></div>
      }@else{
        <div class="saleInformationTitleLeft">
          <p>{{frameItemList.text1}}</p>
        </div>
      }
      <div class="saleInformationTitleRight" >
        <p>Trả góp 0%</p>
      </div>
    </div>
    <div class="frameImage">
      <img src="{{frameItemList.img}}" alt="">
    </div>
    <div class="frameProductionDescription">
      <p>{{frameItemList.description}}</p>
    </div>
    <div class="framePrice">
      <div class="sale">
        <p>{{frameItemList.saleprice | number: '1.0-0'}}đ</p>
      </div>
      @if(frameItemList.originalprice!=0){
        <div class="original">
          <p>{{frameItemList.originalprice | number: '1.0-0'}}đ</p>
        </div>
      }
    </div>
    @if(frameItemList.smemberdiscount!=0){
      <div class="frameSmember">
        <p>Smember giảm đến {{frameItemList.smemberdiscount | number: '1.0-0'}}đ</p>
      </div>
    }
    @if (frameItemList.sstudentdiscount!=0){
      <div class="frameSstudent">
        <p>S-Student giảm đến {{frameItemList.sstudentdiscount | number: '1.0-0'}}đ</p>
      </div>
    }
    <div class="frameProductDescription2">
      <p>Không phí chuyển đổi khi trả góp 0% qua thẻ tín dụng kỳ hạn 3-6 tháng</p>
    </div>
  </div>
  <div class="rating">
    @if(frameItemList.rating == 0){
      <div class="ratingLeft">
      </div>
    } @else {
      <div class="ratingLeft">
        <mat-icon class="matIcon">star</mat-icon>
        <p>{{frameItemList.rating}}</p>
      </div>
    }
    <div class="ratingRight">
      <button class="ButtonToCart" (click)="$event.stopPropagation(); addToCart(frameItemList.id)">
        <mat-icon>add_shopping_cart</mat-icon>
        <p>Thêm vào giỏ hàng</p>
      </button>
    </div>
  </div>
</div>
