<div class="frame">
  <div class="saleInformation">
    <div class="saleInformationTitle">
      @if(frameItem.percentage1.length == 0){
        <div class="saleInformationTitleLeft"></div>
      }@else{
        <div class="saleInformationTitleLeft">
          <p>{{frameItem.text1}}</p>
          <p>{{frameItem.percentage1}}</p>
        </div>
      }
      <div class="saleInformationTitleRight" >
        <p>{{frameItem.text2}}</p>
        <p>{{frameItem.percentage2}}</p>
      </div>
    </div>
    <div class="frameImage">
      <img src="{{frameItem.img}}" alt="">
    </div>
    <div class="frameProductionDescription">
      <p>{{frameItem.description}}</p>
    </div>
    <div class="framePrice">
      <div class="sale">
        <p>{{frameItem.saleprice}}</p>
      </div>
      <div class="original">
        <p>{{frameItem.originalprice}}</p>
      </div>
    </div>
    @if (frameItem.smemberdiscount.length==0){
    }@else{
      <div class="frameSmember">
        <p>{{frameItem.smemberdiscount}}</p>
      </div>
    }
    @if(frameItem.sstudentdiscount.length == 0){
    }@else {
      <div class="frameSstudent">
        <p>{{frameItem.sstudentdiscount}}</p>
      </div>
    }
    <div class="frameProductDescription2">
      <p>{{frameItem.description2}}</p>
    </div>
  </div>
  <div class="rating">
    @if(frameItem.rating == 0){
      <div class="ratingLeft">
      </div>
    } @else {
      <div class="ratingLeft">
        <mat-icon class="matIcon">{{frameItem.star}}</mat-icon>
        <p>{{frameItem.rating}}</p>
      </div>
    }
    <div class="ratingRight">
      <button class="ButtonToCart" (click)="addToCart(frameItem)">
        <mat-icon >thumb_up_alt</mat-icon>
        <p>Thêm vào giỏ hàng</p>
      </button>
    </div>
  </div>
</div>
