<div class="detail-container">
  <!-- Breadcrumb -->
  <nav class="breadcrumb">
    <mat-icon>home</mat-icon>
    <a href="#">Trang chủ</a> /
    <a href="#">Laptop</a> /
    <a href="#">Mac</a> /
    <span>{{ this.productDetail.description }}</span>
  </nav>

  <!-- Product Details -->
  <div class="product-detail">
    <!-- Images -->
    <div class="product-images">
      <img src="{{this.productDetail.img}}" alt="Main Product Image"
           class="main-image">
    </div>

    <!-- Info -->
    <div class="product-info">
      <h1>{{ this.productDetail.description }}</h1>
      <div class="sku">
        <mat-icon class="icon">star</mat-icon>
        @if (this.productDetail.rating == 0){
          <p>Chưa có đánh giá</p>
        }@else{
          <p>{{this.productDetail.rating}}</p>
        }
      </div>
      <div class="price">
        <p class="sale-price">{{this.productDetail.saleprice | number: '1.0-0'}}đ</p>
        <p class="original-price">{{this.productDetail.originalprice | number: '1.0-0'}}đ</p>
      </div>

      <!-- Options -->
      <div class="options">
        <p class="option-label">Smember giảm đến: {{ this.productDetail.smemberdiscount | number: '1.0-0' }}đ</p>
      </div>
      <div class="options">
        <p class="option-label">S-Student giảm đến: {{ this.productDetail.sstudentdiscount | number: '1.0-0' }}đ</p>
      </div>
      <div class="actions_wrraper">

        <div class="actions">
          <button class="add-to-cart" (click)="addToCart(this.productDetail.id)">Add to Cart</button>
          <button class="buy-now">Buy Now</button>
        </div>
      </div>
      <div class="tab-content">
        <p>Không phí chuyển đổi khi trả góp 0% qua thẻ tín dụng kỳ hạn 3-6 tháng</p>
      </div>
    </div>
  </div>
</div>
