<div class="navbar">
  <div class="navbar-top">
    <div class="navbar-top-text">
      <app-dots></app-dots>
      <mat-icon>brightness_7</mat-icon>
      <p>Sản phẩm Chính hãng - Xuẩt VAT đầy đủ</p>
    </div>
    <div class="navbar-top-text">
      <app-dots></app-dots>
      <mat-icon>local_shipping</mat-icon>
      <p>Giao nhanh - Miễn phí cho đơn 300k</p>
    </div>
    <div class="navbar-top-text">
      <app-dots></app-dots>
      <mat-icon>cached</mat-icon>
      <p>Thu cũ giá ngon - Lên đời tiết kiệm</p>
    </div>
    <div class="navbar-top-text">
      <app-rectangle></app-rectangle>
      <mat-icon>home</mat-icon>
      <p>Cửa hàng gần bạn</p>
    </div>
    <div class="navbar-top-text">
      <app-rectangle></app-rectangle>
      <mat-icon>descriptions</mat-icon>
      <p>Tra cứu đơn hàng</p>
    </div>
    <div class="navbar-top-text">
      <app-rectangle></app-rectangle>
      <mat-icon>phone</mat-icon>
      <p>1800 2079</p>
    </div>

  </div>
  <div class="navbar-bottom">
    <app-logo-cellphone-s></app-logo-cellphone-s>
    <button class="button1">
      <mat-icon>view_module</mat-icon>
      <p>Danh mục</p>
      <mat-icon>expand_more</mat-icon>
    </button>
    <button class="button1">
      <mat-icon>place</mat-icon>
      <p>Hồ Chí Minh</p>
      <mat-icon>expand_more</mat-icon>
    </button>
    <app-input-navbar></app-input-navbar>
    <button class="button2" (click)="openDialog()">
      <p>Giỏ hàng</p>
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button class="button1">
      <p>Tài khoản</p>
      <mat-icon>person_pin</mat-icon>
    </button>
  </div>
</div>
