<div class="footer">
  <div class="footer-above">
    <div class="footer-above-container1">
      <div class="container1-first">
        <p class="title">Tổng đài hỗ trợ miễn phí</p>
        <div class="container1-first-display">
          <p>Mua hàng - bảo hành 1800.2097 (7h30 - 22h00)</p>
          <p>Khiếu nại 1800.2063 (8h00 - 21h30)</p>
        </div>
      </div>
      <div class="container1-second">
        <p class="title">Phương thức thanh toán</p>
        <div class="logo-payment">
          <img src="https://cdn2.cellphones.com.vn/x35,webp/media/wysiwyg/apple-pay-og.png" alt="">
          <img src="https://cdn2.cellphones.com.vn/x35,webp/media/logo/payment/vnpay-logo.png" alt="">
          <img src="https://cdn2.cellphones.com.vn/x/media/wysiwyg/momo_1.png" alt="">
          <img src="https://cdn2.cellphones.com.vn/x35,webp/media/logo/payment/onepay-logo.png" alt="">
          <img src="https://cdn2.cellphones.com.vn/x35,webp/media/logo/payment/mpos-logo.png" alt="">
          <img src="https://cdn2.cellphones.com.vn/x35,webp/media/logo/payment/kredivo-logo.png" alt="">
          <img src="https://cdn2.cellphones.com.vn/x35,webp/media/logo/payment/zalopay-logo.png" alt="">
          <img src="https://cdn2.cellphones.com.vn/x35,webp/media/logo/payment/alepay-logo.png" alt="">
          <img src="https://cdn2.cellphones.com.vn/x/media/wysiwyg/fundiin.png" alt="">
        </div>
        <div class="container1-third">
          <p style="margin: 0" class="title">ĐĂNG KÝ NHẬN TIN KHUYẾN MÃI</p>
          <div class="voucher">
            <p style="font-weight: 500; color: #d70018;font-size: 12px">Nhận ngay voucher 10%</p>
            <p style="font-size: 12px">Voucher sẽ được gửi sau 24h, chỉ áp dụng cho khách hàng mới</p>
          </div>
          <div class="input">
            <p style="font-weight: 500">Email</p>
            <input type="email" placeholder="Nhập email của bạn">
          </div>
          <div class="input">
            <p style="font-weight: 500">Số điện thoại</p>
            <input type="email" placeholder="Nhập số điện thoại của bạn">
          </div>
          <div class="accept">
            <input type="checkbox" id="accept" name="accept">
            <label style="color: #d70018; font-size: 13px" for="accept">Tôi đồng ý với điều khoản của CellphoneS</label>
          </div>
          <div class="register">
            <button class="register-button">
              <p>ĐĂNG KÝ NGAY</p>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-above-container1">
      <p class="title">Thông tin và chính sách</p>
      <a href="">Mua hàng và thanh toán Online</a>
      <a href="">Mua hàng trả góp Online</a>
      <a href="">Mua hàng trả góp bằng thẻ tín dụng</a>
      <a href="">Chính sách giao hàng</a>
      <a href="">Chính sách đổi trả</a>
      <a href="">Tra điểm Smember</a>
      <a href="">Xem ưu đãi Smember</a>
      <a href="">Tra thông tin bảo hành</a>
      <a href="">Tra cứu hoá đơn điện tử</a>
      <a href="">Thông tin háo đơn mua hàng</a>
      <a href="">Trung tâm bảo hành chính hãng</a>
      <a href="">Quy định về việc sao lưu dữ liệu</a>
      <a href="">Chính sách khui hộp sản phẩm Apple</a>
      <a href="">VAT Refund</a>
    </div>
    <div class="footer-above-container1">
      <p class="title">Dịch vụ và thông tin khác</p>
      <a href="">Khách hàng doanh nghiệp (B2B)</a>
      <a href="">ưu đãi thanh toán</a>
      <a href="">Quy chế hoạt động</a>
      <a href="">Chính sách bảo mật thông tin cá nhân</a>
      <a href="">Chính sách Bảo hành</a>
      <a href="">Liên hệ hợp tác kinh doanh</a>
      <a href="">Tuyển dụng</a>
      <a href="">Dịch vụ bảo hành mở rộng</a>
      <p style="margin: 12px 0" class="title">Mua sắm đễ dàng - Ưu đãi ngập tràn cùng app CellPhoneS</p>
      <div class="download">
        <img src="https://cdn2.cellphones.com.vn/200x,webp/media/wysiwyg/QR_appGeneral.jpg" alt="">
        <div class="download-right">
          <img src="https://cdn2.cellphones.com.vn/200x,webp/media/wysiwyg/downloadANDROID.png" alt="">
          <img src="https://cdn2.cellphones.com.vn/200x,webp/media/wysiwyg/downloadiOS.png" alt="">
        </div>
      </div>
    </div>
    <div class="footer-above-container1">
      <p class="title">Kết nối với CellphoneS</p>
      <div class="img2">
        <img src="https://cdn2.cellphones.com.vn/44x,webp/media/logo/social/cellphones-youtube.png" alt="">
        <img src="https://cdn2.cellphones.com.vn/44x,webp/media/logo/social/cellphones-facebook.png" alt="">
        <img src="https://cdn2.cellphones.com.vn/44x,webp/media/logo/social/cellphones-instagram.png" alt="">
        <img src="https://cdn2.cellphones.com.vn/44x,webp/media/logo/social/cellphones-tiktok.png" alt="">
        <img src="https://cdn2.cellphones.com.vn/44x,webp/media/logo/social/cellphones-zalo.png" alt="">
      </div>
      <p class="title">Website thành viên</p>
      <div class="member-website">
        <p>Hệ thống bảo hành và chăm sóc Điện thoại và Máy tính</p>
        <img src="https://cdn2.cellphones.com.vn/x30,webp/media/logo/corp-members/dienthoaivui.png" alt="">
      </div>
      <div class="member-website">
        <p>Trung tâm bảo hành uỷ quyền Apple</p>
        <img src="http://cdn2.cellphones.com.vn/x/media/wysiwyg/Logo_CareS_1.png" alt="">
      </div>
      <div class="member-website">
        <p>Kênh thông tin giải trí công nghệ cho giới trẻ</p>
        <img src="https://cdn2.cellphones.com.vn/x30,webp/media/logo/corp-members/schanel.png" alt="">
      </div>
      <div class="member-website">
        <p>Trang thông tin công nghệ mới nhất</p>
        <img src="https://cdn2.cellphones.com.vn/x30,webp/media/logo/corp-members/sforum.png" alt="">
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="footer-below-top">
      <div class="footer-above-container1">
        <span>Điện thoại iPhone 15 | Điện thoại iP 16</span>
        <span>iPhone 16 Pro Max</span>
      </div>
      <div class="footer-above-container1">
        <span>Điện thoại | Điện thoại iphone | Xiaomi</span>
        <span>Điện thoại Samsung Galaxy | Điện thoại OPPO</span>
      </div>
      <div class="footer-above-container1">
        <span>Laptop | Laptop Acer | Laptop Dell | Laptop HP</span>
        <span>Tici | Tivi Samsung | Tivi Sony | Tivi LG</span>
      </div>
      <div class="footer-above-container1">
        <span>Đồ gia dụng | Máy hút bụi gia đình | Build PC</span>
        <span>Lắp đặt camera | Back to school là gì</span>
      </div>
    </div>
    <div class="footer-below-bottom">
      <div class="footer-below-bottom-content">
        <p>
          Công ty TNHH Thương Mại và Dịch vụ Kỹ Thuật DIỆU PHÚC - GPĐKKD: 0316172372 cấp tại Sở KH & ĐT TP.HCM. Địa chỉ văn phòng: 350-352 Võ Văn Kiệt, Phường Cô Giang, Quận 1, Thành phố Hồ Chí Minh, Việt Nam. Điện thoại 028.7108.9666.
        </p>
      </div>
      <div class="footer-below-bottom-content">
        <img src="https://cdn2.cellphones.com.vn/80x,webp/media/logo/logoSaleNoti.png" alt="">
        <img style="width: 96px; height: 20px" src="https://images.dmca.com/Badges/dmca_copyright_protected150c.png?ID=158f5667-cce3-4a18-b2d1-826225e6b022" alt="">
      </div>
    </div>
  </div>
</div>
